body {
    background-color: darkcyan;
}
.start_word {
    color: wheat;
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    padding: 9px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.end_word {
    color: wheat;
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    padding: 12px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
