body {
    background-color: pink;
    padding: 11px;
    margin: 1px;
}

h1 {
    background-color: pink;
    padding: 15px;
    margin: 5px;
    font-family: sans-serif;
    font: violet;
}

.buttons {
    background-color: pink;
    padding: 19px;
    margin: 9px;
    font-family: sans-serif;
    font: violet;
}

