body {
    background-color: white;
}
h1 {
    background-color: white;
    font-family: sans-serif;
    font: black;
    padding: 11px;
    margin: 0px;
}
button {
    background-color: white;
    font-family: sans-serif;
    font: black;
    padding: 22px;
    margin: 11px;
}
.fem {
    background-color: pink;
    font-family: sans-serif;
    font: white;
    padding: 33px;
    margin: 22px;
}
